{% extends 'base.html' %}
{% block content %}

<div class="min-h-screen flex items-center justify-center">
    <div class="w-full max-w-md bg-gray-800/50 backdrop-blur-lg rounded-xl p-8 space-y-6">
        <h1 class="text-2xl font-bold mb-4">Your File is Ready to Share</h1>
        <p class="mt-4 text-sm text-gray-400 items-center justify-center">Link will expire after a certain time,
            depending on your
            settings.</p>

        <div class="flex flex-col sm:flex-row items-center gap-4">
            <input type="text" value="{{ link }}" readonly class="bg-gray-700 text-white p-2 rounded-md flex-1"
                title="Sharable link" placeholder="Sharable link">
            <button onclick="copyLink()"
                class="bg-blue-600 text-white py-2 px-4 rounded-full hover:bg-blue-700 transition duration-300">Copy
                Link</button>
        </div>
        <div class="flex justify-between">
            <a onclick="window.location.reload();"
                class="px-4 py-2 bg-green-600 hover:bg-gray-600 rounded-lg text-white transition-colors">
                Create new link
            </a>
            <a href="{{ url_for('dashboard') }}"
                class="px-4 py-2 bg-gray-700 hover:bg-gray-600 rounded-lg text-white transition-colors">
                Back to Dashboard
            </a>
        </div>
    </div>
</div>
</div>
<!--Popup_Toast-->
<div id="toast"
    class="fixed top-8 right-[520px] bg-green-600 text-white py-2 px-4 rounded-md opacity-0 transition-opacity duration-300 pointer-events-none">
    Link copied to clipboard!
</div>

<script>
    function copyLink() {
        const link = document.querySelector('input');
        link.select();
        document.execCommand('copy');

        //show_toast
        const toast = document.getElementById('toast');
        toast.classList.remove('opacity-0');
        toast.classList.add('opacity-100');

        //hide_toast
        setTimeout(() => {
            toast.classList.remove('opacity-100');
            toast.classList.add('opacity-0');
        }, 2000);
    }
</script>
{% endblock %}